<div class="row">
	 <div class="container " >
          <div id="site-right" class="col s12 m12 l12 z-depth-2" > <!-- Note that "m8 l9" was added -->
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="defeners.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Acerca de nosotros<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Acerca de nosotros<i class="material-icons right">close</i></span>
              <p>Nosotros somos un equipo de desarrollo web, inspirando nuestro nombre en el grupo de vigilantes de Marvel.
                Estamos constituidos por:
              </p>
              <div class="row">
                <div class="col s12 m l4">
                  <div class="card small cyan lighten-4">
                    <div class="card-image">
                      <img class="materialboxed" src="mapache1.jpg">
                      <span class="card-title">Antonio Robles</span>
                    </div>
                    <div class="card-content">
                      <p id="textocaja">Aficionado al ánime, cosas japonesas, etc. #Totoro4Life #TrashCanPanda</p>
                    </div>
                  </div>
                </div>
                
                <div class="col s12 m4 l4">
                  <div class="card small cyan lighten-1">
                    <div class="card-image">
                      <img class="materialboxed" src="heber.jpg">
                      <span class="card-title">Heber Torres</span>
                    </div>
                    <div class="card-content">
                      <p id="textocaja">#Geek4Life</p>
                    </div>
                  </div>
                </div>
                
                
                <div class="col s12 m4 l4">
                  <div class="card small  pink lighten-4">
                    <div class="card-image">
                      <img class="materialboxed" src="eddie.jpg">
                      <span class="card-title">Eduardo Sías</span>
                    </div>
                    <div class="card-content">
                      <p id="textocaja">Aficionado al racing, fútbol americano, videojuegos, cómics y entusiasta del fitness. #McLaren4Life</p>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
	
</div>